<a href="https://colab.research.google.com/github/Yeonsoo1216/class/blob/main/%EA%B3%BC%EC%A0%9C11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
numlist = [0, 1, 2, 3, 4];
hap = 0;

num1 = int(input("숫자 : "))
num2 = int(input("숫자 : "))
num3 = int(input("숫자 : "))
num4 = int(input("숫자 : "))

hap = num1 + num2 + num3 + num4;

print("합계 ==> ", hap);

숫자 : 2
숫자 : 4
숫자 : 6
숫자 : 8
합계 ==>  20

In [5]:
myList = [];

myList.append("안산");
myList.append("공고");

myList.append(3100);
myList.append(777);

print(myList);

['안산', '공고', 3100, 777]

In [27]:
import random;
wish = ["중요한 것은 꺾이지 않는 마음", "너 자신을 알라", "피할 수 없으면 즐겨라", "신은 용기있는 자를 결코 버리지 않는다.", "내일은 내일의 태양이 뜬다.", "이 또한 지나가리라"];

rd = wish[random.randint(0, len(wish) - 1)];

print("오늘의 명언 ==> ", rd);

오늘의 명언 ==>  너 자신을 알라

In [41]:
import datetime as dt

now = dt.date.today();

birth = dt.date(2023,11,16);

age = birth - now;

print(round(age.days));

220