컴퓨터과 3학년 1반 6번
김상민

In [ ]:
num1 = int(input("숫자1 ==> "))
num2 = int(input("숫자2 ==> "))

sum = num1 + num2
sum1 = num1 - num2
sum2 = num1 * num2
sum3 = num1 / num2
sum4 = num1 % num2
sum5 = num1 ** num2

print(num1, "+", num2, "=", sum)
print(num1, "-", num2, "=", sum1)
print(num1, "*", num2, "=", sum2)
print(num1, "/", num2, "=", sum3)
print(num1, "%", num2, "=", sum4)
print(num1, "**", num2, "=", sum5)

숫자1 ==> 100
숫자2 ==> 10
100 + 10 = 110
100 - 10 = 90
100 * 10 = 1000
100 / 10 = 10.0
100 % 10 = 0
100 ** 10 = 100000000000000000000